/* 通知公告标题 */
.notice-title {
	text-align: center;
	font-size: var(--sar-text-xl);
	font-weight: var(--sar-font-bold);
}
/* 通知公告标题 */
.notice-meta {
	text-align: center;
	font-size: var(--sar-text-sm);
	color: var(--sar-secondary);
	margin: 16rpx 0 32rpx 0;
}