<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lihua.system.mapper.SysRoleMapper">

    <resultMap id="queryByIdMap" type="com.lihua.system.entity.SysRole">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <collection property="menuIds" ofType="java.lang.String">
            <result column="menu_Id"/>
        </collection>
    </resultMap>


    <sql id="selectRoleItem">
        sys_role.id,
        sys_role.name,
        sys_role.code
    </sql>

    <select id="selectSysRoleByUserId" resultType="com.lihua.security.model.CurrentRole">
        SELECT
            <include refid="selectRoleItem"/>
        FROM
        sys_role
        INNER JOIN sys_user_role ON sys_user_role.role_id = sys_role.id
        WHERE
        sys_role.status = '0' AND sys_role.del_flag = '0' and sys_user_role.user_id = #{userId}
    </select>

    <select id="selectUserPageByRoleId" resultType="com.lihua.system.model.vo.SysRoleUserVO">
        SELECT
            sys_user.id,
            sys_user.nickname,
            sys_user.username,
            sys_user.status,
            sys_user.create_time,
            IF(sys_user_role.user_id IS NOT NULL, 1, 0) AS authorized
        FROM
            sys_user
            LEFT JOIN sys_user_role ON sys_user_role.user_id = sys_user.id AND sys_user_role.role_id = #{roleId}
        WHERE
            sys_user.del_flag = '0'
            <if test="dto.nickname != null and dto.nickname != ''">
                AND sys_user.nickname like concat('%', #{dto.nickname}, '%')
            </if>
            <if test="dto.username != null and dto.username != ''">
                AND sys_user.username like concat('%', #{dto.username}, '%')
            </if>
            <if test="dto.status != null and dto.status != ''">
                AND sys_user.status = #{dto.status}
            </if>
            <if test='dto.authorized != null and dto.authorized == "1"'>
                AND sys_user_role.user_id IS NOT NULL
            </if>
            <if test='dto.authorized != null and dto.authorized == "0"'>
                AND sys_user_role.user_id IS NULL
            </if>
            <if test="dto.deptIdList != null and dto.deptIdList.size() > 0">
                AND EXISTS (SELECT 1 FROM sys_user_dept WHERE sys_user_dept.user_id = sys_user.id AND sys_user_dept.dept_id IN
                <foreach collection="dto.deptIdList" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
                )
            </if>
        ORDER BY
            authorized DESC,
            sys_user.create_time DESC
    </select>

    <select id="selectUserIdsByRoleIdAndUserIds" resultType="java.lang.String">
        SELECT user_id FROM sys_user_role WHERE role_id = #{roleId} AND user_id in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>

    <select id="selectUserIdsByRoleId" resultType="java.lang.String">
        SELECT user_id FROM sys_user_role WHERE role_id = #{roleId}
    </select>

    <insert id="insertUserRole">
        INSERT INTO sys_user_role (role_id, user_id) VALUES
        <foreach collection="userIds" item="userId" separator=",">
            ( #{roleId}, #{userId} )
        </foreach>
    </insert>

    <delete id="deleteUserRoleByRoleIdAndUserIds">
        DELETE FROM sys_user_role WHERE role_id = #{roleId} AND user_id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <select id="selectRoleMenuCountByRoleIds" resultType="java.lang.Long">
        SELECT count( 1 ) FROM sys_role_menu WHERE role_id in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>

    </select>

    <select id="selectUserRoleCountByRoleIds" resultType="java.lang.Long">
        SELECT count( 1 ) FROM sys_user_role WHERE role_id in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

    <select id="queryById" resultMap="queryByIdMap">
        SELECT id, name, code, status, remark, menu_Id FROM sys_role
        LEFT JOIN sys_role_menu ON sys_role.id = sys_role_menu.role_id
        WHERE sys_role.id = #{roleId}
    </select>
    <select id="selectCodeByUserId" resultType="java.lang.String">
        SELECT CODE
        FROM
        sys_role
        LEFT JOIN sys_user_role ON sys_user_role.role_id = sys_role.id
        WHERE
        sys_user_role.user_id = #{userId}
        AND sys_role.status = '0'
        AND del_flag = '0'
    </select>

    <select id="selectAllRole" resultType="com.lihua.security.model.CurrentRole">
        SELECT
        <include refid="selectRoleItem"/>
        FROM
        sys_role
        WHERE
        sys_role.status = '0' AND sys_role.del_flag = '0'
    </select>

    <delete id="deleteRoleMenuByRoleId">
        DELETE FROM sys_role_menu WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteRoleMenuByMenuIds">
        DELETE FROM sys_role_menu WHERE menu_id IN
        <foreach collection="menuIds" item="menuId" open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </delete>

    <insert id="insertRoleMenu">
        INSERT INTO sys_role_menu (role_id, menu_id) VALUES
        <foreach collection="menuIds" item="menuId" separator=",">
            ( #{roleId}, #{menuId} )
        </foreach>
    </insert>
</mapper>