<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lihua.system.mapper.SysUserNoticeMapper">

    <select id="queryUnReadCount" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM sys_notice
        LEFT JOIN sys_user_notice ON sys_user_notice.notice_id = sys_notice.id
        WHERE
            sys_user_notice.user_id = #{userId}
            AND sys_user_notice.read_flag = '0'
            AND sys_notice.status = '1'
            AND sys_notice.del_flag = '0'
    </select>
</mapper>