<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lihua.mapper.SysAttachmentMapper">

    <select id="queryDeletablePathByIds" resultType="java.lang.String">
        SELECT
            path
        FROM
            sys_attachment
        WHERE
            path IN ( SELECT path FROM sys_attachment WHERE id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            AND path IS NOT NULL AND status != '2')
        GROUP BY path
        HAVING count( 1 ) = 1
    </select>

    <select id="queryById" resultType="com.lihua.model.vo.SysAttachmentVO">
        SELECT
            sys_attachment.id,
            sys_attachment.`status`,
            sys_attachment.create_id,
            sys_attachment.create_time,
            storage_name,
            original_name,
            extension_name,
            path,
            upload_id,
            business_code,
            business_name,
            size,
            type,
            upload_mode,
            storage_location,
            md5,
            error_msg,
            url,
            sys_user.nickname as uploadName,
            client_type
        FROM
            sys_attachment
        LEFT JOIN sys_user ON sys_user.id = sys_attachment.create_id
        WHERE sys_attachment.id = #{id}
    </select>


</mapper>